<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.EventMapper">
	
	<select id="selectEListCountAll" resultType="int">
		<![CDATA[
			select count(*) from event where event_end_date > sysdate
		]]>
	</select>
	
	<select id="selectfListCountAll" resultType="int">
		<![CDATA[
			select count(*) from event where event_end_date < sysdate
		]]>
	</select>
	
	<select id="selectAllE" resultMap="eMap">
		<![CDATA[
		select * from (
		select rownum rnum, a.* from
		(select * from event e
		inner join user_table u
		on e.user_seq=u.user_seq
        order by e.event_end_date asc) a )
		where rnum>=1 and rnum<=10
        and event_end_date > sysdate
		]]>
	</select>
	
	<select id="selectAllF" resultMap="eMap">
		<![CDATA[
		select * from (
		select rownum rnum, a.* from
		(select * from event e
		inner join user_table u
		on e.user_seq=u.user_seq
        order by e.event_end_date asc) a )
		where rnum>=1 and rnum<=10
        and event_end_date < sysdate
		]]>
	</select>
	
	<resultMap id="eMap" type="com.java.dto.Event">
		<result column="event_no" property="event_no"/>
		<result column="event_title" property="event_title"/>
		<result column="event_image" property="event_image"/>
		<result column="event_start_date" property="event_start_date"/>
		<result column="event_end_date" property="event_end_date"/>
		<result column="event_hit" property="event_hit"/>
		<association property="user" column="user_seq" javaType="com.java.dto.User">
	 		<id column="user_seq" property="user_seq"/>
		 	<result column="user_name" property="user_name"/>
		 	<result column="user_auth" property="user_auth"/>
		 	<result column="user_id" property="user_id"/>
	 	</association>
	</resultMap>
	
	<select id="selectOneE" resultType="com.java.dto.Event">
		<![CDATA[
		select * from event where
		event_no=#{event_no}
		]]>
	</select>
	
	<select id="selectNextE" resultType="com.java.dto.Event">
		<![CDATA[
		select * from event where event_no =
		(select prevDto from
		(select event_no,lead(event_no,1,-1)over(order by event_end_date asc)as prevDto
		from event where event_end_date > sysdate)
		where event_no = #{event_no})
		]]>
	</select>
	
	<select id="selectPrevE" resultType="com.java.dto.Event">
	<![CDATA[
		SELECT * FROM EVENT WHERE EVENT_NO = 
		(SELECT prevDto FROM 
		(SELECT EVENT_NO, LAG(EVENT_NO, 1, -1) OVER (ORDER BY EVENT_END_DATE ASC) AS prevDto
        FROM EVENT
        WHERE EVENT_END_DATE > SYSDATE) 
   		WHERE EVENT_NO = #{event_no})
		]]>
	</select>
	
	<delete id="deleteE">
		delete from event where event_no=#{event_no}
	</delete>
	
	<insert id="insertE">
		insert into event values(event_seq.nextval,#{user_seq},#{event_title},#{event_content},#{event_image},0,#{event_start_date},#{event_end_date})
	</insert>
	
	<update id="modiE">
		update event set event_title=#{event_title}, event_content=#{event_content}, event_image=#{event_image}, event_start_date=#{event_start_date}, event_end_date=#{event_end_date} where event_no=#{event_no}
	</update>
	
</mapper>