<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.MyMapper">




<delete id="delete_order">
delete order_table where user_seq=#{user_seq} and p_num=#{r1.p_num}
</delete>

<select id="selectOrder" resultMap="order">
		select * from (
		select rownum rnum, a.* from
		(select * from ORDER_table O
		inner join product P
		on O.p_num=P.p_num
		<if test="authId == 'user'">
		where O.user_seq=#{user_seq}
		</if>
		<if test="authId == 'store'">
		where P.user_seq=#{user_seq}
		</if> 
	<![CDATA[
        order by O.order_no desc, O.order_date desc) a )
		where rnum>=#{pageDto.startRow} and rnum<=#{pageDto.endRow} 
        ]]>

</select> 
	<resultMap id="order" type="com.java.dto.Porder">
		<result column="user_seq" property="user_seq" />
		<result column="p_num" property="p_num" />	
		<result column="DRONE_ID" property="drone_id" />	
		<result column="ORDER_DATE" property="order_date" />	
		<result column="ORDER_STATUS" property="order_status" />	
		<result column="ORDER_REQUEST" property="order_request" />	
		<result column="carry_zip" property="carry_zip" />	
		<result column="EMERGENCY" property="emergency" />	
		<result column="ORDER_NO" property="order_no" />	
		<result column="order_count" property="order_count" />	
		<association property="product" column="p_num" javaType="com.java.dto.Product">
			<id column="user_seq" property="user_seq" />
			<id column="p_num" property="p_num" />
			<result column="name" property="name" />
			<result column="price" property="price" />
			<result column="image" property="image" />
		</association>
	</resultMap>
	

<select id="selectListCount" resultType="int">
		select count(*) from ORDER_table where user_seq=#{user_seq}
	</select>
	
	
<select id="selectone"	resultType="com.java.dto.Member">
select * from user_table where  user_id=#{user_id}
</select>

<delete id="deletemember" >
DELETE FROM user_table WHERE user_id=#{user_id}
</delete>

<update id="updateone">

UPDATE user_table   SET 
    user_name = #{user_name},
    user_pw = #{user_pw},
    user_zip = #{user_zip},
    user_addr = #{user_addr},
    user_email = #{user_email},
    user_phone = #{user_phone},
    mkt_agree = #{mkt_agree},
    x	=	#{x},
    y	=	#{y}
WHERE   user_id = #{user_id}

</update>

<select id="selectInquiry" resultType="com.java.dto.Inquiry">
	select * from
	(select rownum rnum, a.* from
	(select * from INQUIRY_BOARD
	where user_seq=#{user_seq}
	<![CDATA[
		order by INQUIRY_NO desc) a ) 
		where rnum >= #{pageDto.startRow} and rnum<= #{pageDto.endRow}
    ]]>
</select> 

	<select id="select_InquiryListCount" resultType="int">
		select count(*) from INQUIRY_BOARD where user_seq=#{user_seq}
	</select>
	
	
	<!--  게시글 -->	
	<select id="selectOne_inquiry"  resultType="com.java.dto.Inquiry">
		select * from INQUIRY_BOARD where inquiry_no = #{inquiry_no}
	</select>
	
	<!-- inquiry_no 이전 게시글 -->	
	<select id="selectPrev_inquiry" resultType="com.java.dto.Inquiry">
		select * from INQUIRY_BOARD where inquiry_no = 
		(select prevDto from 
		(select inquiry_no, lag(inquiry_no, 1, -1) over(order by INQUIRY_DATE desc) as prevDto
		from INQUIRY_BOARD order by user_seq desc) where inquiry_no=#{inquiry_no})
	</select>
	
	<!-- inquiry_no 이후 게시글 -->	
	<select id="selectNext_inquiry" resultType="com.java.dto.Inquiry">
		select * from INQUIRY_BOARD where inquiry_no = 
		(select nextDto from 
		(select inquiry_no, lead(inquiry_no, 1, -1) over(order by INQUIRY_DATE desc) as nextDto
		from INQUIRY_BOARD order by user_seq desc) where inquiry_no=#{inquiry_no})
	</select>


<insert id="insert_Inqury" >
		insert into INQUIRY_BOARD (   
	INQUIRY_NO, user_seq,   INQUIRY_TITLE,    INQUIRY_DATE,
    INQUIRY_CATEGORY,    INQUIRY_CONTENT,    INQUIRY_IMAGE
)  VALUES (
inquiry_seq.nextval, #{user_seq}, #{inquiry_title}, sysdate, 
#{inquiry_category}, #{inquiry_content},#{inquiry_image})
</insert>

<update id="modi_inquiry">
UPDATE INQUIRY_BOARD
SET 
inquiry_category =#{inquiry_category},
inquiry_title = #{inquiry_title},
inquiry_date = sysdate,
inquiry_content = #{inquiry_content},
inquiry_image = #{inquiry_image}

WHERE 
     inquiry_no= #{inquiry_no}
    
</update>

<delete id="Inquiry_deleteone">
delete from inquiry_board where inquiry_no=${inquiry_no}
</delete>



<select id="selectoneReturn" resultMap="reorder1">
    SELECT 
        p.name AS product_name, 
        p.price AS product_price, 
        p.image AS product_image, 
        o.user_seq, 
        o.p_num AS order_p_num, 
        o.order_no, 
        o.order_count, 
        o.ORDER_DATE, 
        o.ORDER_STATUS, 
        o.ORDER_REQUEST, 
        o.carry_zip, 
        o.EMERGENCY
    FROM order_table o
    INNER JOIN product p ON o.p_num = p.p_num
    WHERE o.user_seq = #{user_seq} 
    AND p.p_num IN 
        <foreach item="order_p_num" collection="order_p_nums" open="(" separator="," close=")">
            #{order_p_num}
        </foreach>
    AND o.order_no IN 
        <foreach item="order_no" collection="orderNos" open="(" separator="," close=")">
            #{order_no}
        </foreach>
</select>
<resultMap id="reorder1" type="com.java.dto.Porder">
		<result column="user_seq" property="user_seq" />
		<result column="order_p_num" property="p_num" />	
		<result column="DRONE_ID" property="drone_id" />	
		<result column="ORDER_DATE" property="order_date" />	
		<result column="ORDER_STATUS" property="order_status" />	
		<result column="ORDER_REQUEST" property="order_request" />	
		<result column="carry_zip" property="carry_zip" />	
		<result column="EMERGENCY" property="emergency" />	
		<result column="ORDER_NO" property="order_no" />	
		<result column="order_count" property="order_count" />	
		<association property="product" column="p_num" javaType="com.java.dto.Product">
			<result column="p_num" property="p_num" />
			<result column="product_name" property="name" />
			<result column="product_price" property="price" />
			<result column="product_image" property="image" />
		</association>
	</resultMap>


<select id="selectReturn" resultMap="reorder2">
		select * from (
		select rownum rnum, a.* from
		(select r.* ,P.p_num r_num, P.name  from return_table r
		inner join product P
		on r.p_num=P.p_num
		<if test="authId == 'user'">
		where r.user_seq=#{user_seq}
		</if>
		<if test="authId == 'store'">
		where P.user_seq=#{user_seq}
		</if>
	<![CDATA[
        order by r.return_no desc) a )
		where rnum>=#{pageDto.startRow} and rnum<=#{pageDto.endRow} 
        ]]>

</select>

	<resultMap id="reorder2" type="com.java.dto.Return_table">
		<result column="user_seq" property="user_seq" />
		<result column="p_num" property="p_num" />
		<result column="order_no" property="order_no" />
		<result column="return_reason" property="return_reason" />
		<result column="return_state" property="return_state" />
		<result column="request_date" property="request_date" />
		<result column="doreturn_date" property="doreturn_date" />
		<result column="return_no" property="return_no" />
		<association property="product" column="p_num" javaType="com.java.dto.Product">
			<id column="r_num" property="p_num" />
			<result column="name" property="name" />
			<result column="price" property="price" />
			<result column="image" property="image" />
		</association>
	</resultMap>


<select id="select_returnListCount" resultType="int">
		select count(*) from return_table
	</select>
 

<insert id="insert_return">
	INSERT INTO return_table (
	user_seq,
    ORDER_NO,
    RETURN_REASON,
    RETURN_STATE,
    REQUEST_DATE,
    DORETURN_DATE,
    P_NUM,
    RETURN_NO
) VALUES (
	#{user_seq},
    #{r1.order_no},              
    #{r1.return_reason},           
    #{r1.return_state},             
   sysdate,              
    NULL,                   
    #{r1.p_num},               
    #{r1.return_no}             
)
</insert>
 
</mapper>
