<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.ProductMapper">

<delete id="deleteById">
<!-- 카트에서 지우기 -->
        DELETE FROM CART
        WHERE p_num = #{p_num}
    </delete>

 <update id="updateQuantity">
<!-- 수량 onchange -->
        UPDATE CART
        SET count = #{count}
        WHERE p_num = #{p_num} and user_seq=#{user_seq}
    </update>


	<select id="selectMListCountAll" resultType="int">
		<if test="medical_category == 0">
			select count(*)from product where product_category = 1
			<if test="store_seq > 0">
				and user_seq = #{store_seq}
			</if>
			<if test="sWord != null">
			and name like '%'|| #{sWord} ||'%'
			</if>
		</if>
		<if test="medical_category > 0">
			select count(*)from product where medical_category = #{medical_category} 
			<if test="store_seq > 0">
				and user_seq = #{store_seq}
			</if>
			<if test="sWord != null">
			and name like '%'|| #{sWord} ||'%'
			</if>
		</if>
	</select>
	
	<select id="selectDListCount" resultType="int">
		<if test="health_category == 0">
			select count(*)from product where product_category = 2
			<if test="store_seq > 0">
				and user_seq = #{store_seq}
			</if>
			<if test="sWord != null">
			and name like '%'|| #{sWord} ||'%'
			</if>
		</if>
		<if test="health_category > 0">
			select count(*)from product where health_category = #{health_category}
			<if test="store_seq > 0">
				and user_seq = #{store_seq}
			</if>
			<if test="sWord != null">
			and name like '%'|| #{sWord} ||'%'
			</if>
		</if>
	</select>

	<select id ="selectMList" resultType="com.java.dto.Product">
		<if test="medical_category == 0">
				select * from
				(select rownum rnum, a.* from
				(select * from Product where product_category = 1
				<if test="store_seq > 0">
					and user_seq = #{store_seq}
				</if>
				<if test="sWord != null">
				and name like '%'|| #{sWord} ||'%'
				</if>
				<if test="sorting == 0">
				 order by p_num asc) a ) 
				</if>
				<if test="sorting == 1">
				 order by stock asc) a ) 
				</if>
				<if test="sorting == 2">
				 order by stock desc) a ) 
				</if>
				<if test="sorting == 3">
				 order by p_count asc) a ) 
				</if>
				<if test="sorting == 4">
				 order by p_count desc) a ) 
				</if>
			<![CDATA[
				where rnum >= #{pageDto.startRow} and rnum<= #{pageDto.endRow}
			]]>
		</if>
		<if test="medical_category > 0">
				select * from
				(select rownum rnum, a.* from
				(select * from Product where medical_category = #{medical_category}
				<if test="store_seq > 0">
					and user_seq = #{store_seq}
				</if>
				<if test="sWord != null">
				and name like '%'|| #{sWord} ||'%'
				</if>
				<if test="sorting == 0">
				 order by p_num asc) a ) 
				</if>
				<if test="sorting == 1">
				 order by stock asc) a ) 
				</if>
				<if test="sorting == 2">
				 order by stock desc) a ) 
				</if>
				<if test="sorting == 3">
				 order by p_count asc) a ) 
				</if>
				<if test="sorting == 4">
				 order by p_count desc) a ) 
				</if>
			<![CDATA[
				where rnum >= #{pageDto.startRow} and rnum<= #{pageDto.endRow}
			]]>
		</if>
	</select>
	
	<select id="mediView" resultType="com.java.dto.Product">
		select * from product where p_num=#{p_num}
	</select>
	
	<select id="selectDList" resultType="com.java.dto.Product">
		<if test="health_category == 0">
				select * from
				(select rownum rnum, a.* from
				(select * from Product where product_category = 2
				<if test="store_seq > 0">
					and user_seq = #{store_seq}
				</if>
				<if test="sWord != null">
				and name like '%'|| #{sWord} ||'%'
				</if>
				<if test="sorting == 0">
				 order by p_num asc) a ) 
				</if>
				<if test="sorting == 1">
				 order by stock asc) a ) 
				</if>
				<if test="sorting == 2">
				 order by stock desc) a ) 
				</if>
				<if test="sorting == 3">
				 order by p_count asc) a ) 
				</if>
				<if test="sorting == 4">
				 order by p_count desc) a ) 
				</if>
			<![CDATA[
				where rnum >= #{pageDto.startRow} and rnum<= #{pageDto.endRow}
			]]>
		</if>
		<if test="health_category > 0">
				select * from
				(select rownum rnum, a.* from
				(select * from Product where health_category = #{health_category}
				<if test="store_seq > 0">
					and user_seq = #{store_seq}
				</if>
				<if test="sWord != null">
				and name like '%'|| #{sWord} ||'%'
				</if>
				<if test="sorting == 0">
				 order by p_num asc) a ) 
				</if>
				<if test="sorting == 1">
				 order by stock asc) a ) 
				</if>
				<if test="sorting == 2">
				 order by stock desc) a ) 
				</if>
				<if test="sorting == 3">
				 order by p_count asc) a ) 
				</if>
				<if test="sorting == 4">
				 order by p_count desc) a ) 
				</if>
			<![CDATA[
				where rnum >= #{pageDto.startRow} and rnum<= #{pageDto.endRow}
			]]>
		</if>
	</select>

	<select id="dailyView" resultType="com.java.dto.Product">
		select * from product where p_num=#{p_num}
	</select>

	<insert id="insertWish">
		insert into wishlist values(#{user_seq},#{p_num})
	</insert>
	
	<delete id="deleteWish">
		delete from wishlist where user_seq=#{user_seq} and p_num=#{p_num}
	</delete>
	
	<select id="selectWish" resultType="com.java.dto.Wishlist">
		select p_num from wishlist where user_seq=#{user_seq}
	</select>
	
	<insert id="inCart">
		insert into cart values(#{user_seq},#{p_num},#{count},null)
	</insert>

	<select id="selectCart" resultType="com.java.dto.Cart">
		select p_num,count from cart where user_seq=#{user_seq}
	</select>
	
	<select id="selectDListAll" resultType="com.java.dto.Product">
		select * from Product where product_category = 2
	</select>
	
	<select id="seletMyCart" resultMap="cmap">
		select c.*, p.* from cart c
		inner join product p
		on c.p_num = p.p_num
		where c.user_seq = #{user_seq}
	</select>
	
	<resultMap id="cmap" type="com.java.dto.Cart">
		<result column="user_seq" property="user_seq" />
		<result column="p_num" property="p_num" />	
		<result column="count" property="count" />	
		<association property="product" column="p_num" javaType="com.java.dto.Product">
			<id column="p_num" property="p_num" />
			<result column="name" property="name" />
			<result column="price" property="price" />
			<result column="image" property="image" />
		</association>
	</resultMap>
	
	<select id="selectAllWish" resultMap="wmap">
		select w.*, p.* from wishlist w
		inner join product p
		on w.p_num = p.p_num
		where w.user_seq = #{user_seq}
	</select>
	
	<resultMap id="wmap" type="com.java.dto.Wishlist">
		<result column="user_seq" property="user_seq" />
		<result column="p_num" property="p_num" />	
		<association property="product" column="p_num" javaType="com.java.dto.Product">
			<id column="p_num" property="p_num" />
			<result column="name" property="name" />
			<result column="image" property="image" />
			<result column="medical_category" property="medical_category" />
			<result column="health_category" property="health_category" />
			<result column="product_category" property="product_category" />
		</association>
	</resultMap>

</mapper>